.btn,#submitButton{
    background-color:rgb(8, 8, 59);
    color:white;
    margin:10px;
    padding:10px;
    border-radius: 10%;
}
#inputDiv{
    float:right;
    margin:5px;
}
input{
    margin:10px 0;
    padding:10px;
}
#submitButton{
    margin-left:0;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
    #mobileDiv{
text-align:center;
    }
    .btn,#submitButton{
        width:80%;
        font-size:1em;
align-content:center;
        }
            #inputDiv{
        font-size:1.5em;
        width:100%;
        float:left;
    }
    

}